@font-face {
    font-family: 'Inter-Regular';
    src: url(../fonts/Inter-Regular.otf);
}

@font-face {
    font-family: 'WorkSans-Regular';
    src: url(../fonts/WorkSans-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'WorkSans-Bold';
    src: url(../fonts/WorkSans-Bold.ttf);
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins-Bold.ttf);
}

body {
    background-image: url(../images/7ec5f3b38d63c82650acce1768c7a6e6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.login-container {
    display: flex;
    margin-top: 250px;
}

.login-main-heading {
    font-family: 'Poppins-Bold';
    font-size: 60px;
    font-weight: 700;
    line-height: 90px;
    text-align: left;
    color: #3A3886 !important;
}

.login-main-para {
    font-family: 'Poppins-Bold';
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    color: #8280FF !important;
}

.right-section {
    background: linear-gradient(to right, rgba(130, 128, 255, 0.2) 0%, rgba(130, 128, 255, 0.08) 100%);
    padding: 10px;
    border-radius: 24px;
}

.form-heading {
    font-family: 'Poppins-Regular';
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    color: #8280FF !important;
    margin-top: 150px;
}

.label {
    font-family: 'Poppins-Bold';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #007AFF !important;
}

.form-control {
    background-color: transparent !important;
    border-radius: 24px;
    border: 1px solid #fff !important;
    width: 100%;
}

#checkbox {
    background-color: transparent !important;
    padding: 8px;
    border: 1px solid black;
}

.form-check-label {
    font-family: 'Poppins-Bold';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.forgot-password {
    font-family: 'Poppins-Bold';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: right;
}

.sign-in-btn {
    background-color: #8280FF !important;
    font-family: 'Poppins-Bold';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    padding: 10px;
    text-align: center;
    border: 24px;
    color: white !important;
    margin-bottom: 150px;
}